!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!src/**/build/
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.iml
*.jks
*.keystore
*.xcodeproj/*
.DS_Store
.cxx
.externalNativeBuild
.gradle
.idea
.kotlin
.venv-store/
captures
iosApp/Configuration/Config.local.xcconfig
keystore.properties
local.properties
node_modules/
signing/
xcuserdata
